@charset "UTF-8";

/* form styling */

#wrapper {
    width: 60%;
    margin-left: 4%;
}

div#formcol1 {
    float: left;
    width: 100%;
}

label {
    text-align: right;
    margin-right: .3em;
    padding-left: 2em;
    width: 7em;
    display: inline-block;
}

input {
    margin: .3em;
}

#formcol1 li {
    list-style: none;
}

input[type="radio"] {
    vertical-align: bottom;
}

body {
    background-color: grey;
    font-weight: bold;
}

select:focus,
select:active,
input:focus,
input:active,
input:focus+label,
input:active+label,
label[for]:focus,
label[for]:active {
    color: #FFF !important;
    background-color: green !important;
}

#formcol1 input.reqfield {
    background: #FF9;
}


/* end of form css */
